<!DOCTYPE html>
<html>
<head>
	<title>PDF View</title>
	{% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="{% static "javascript/jquery.min.js" %}"></script>
    <script src="{% static "javascript/bootstrap.min.js" %}"></script>
    <script src="{% static "javascript/my.js" %}"></script>
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <!-- <script type="text/javascript" src="mule-uploader.js"></script> -->
    {% load staticfiles %}
    <script type="text/javascript">
	    $(function() {
		    $('a[href="#tab2"]').tab('show');
		    get_view_loaded();
		    $('#myTabContent').show();
		    $('#form_submit').click(function() {
		    	submit_form();
		    });
		});

		function get_view_loaded(){
			var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
			$.ajax({
				type:"POST",
				url: "{% url 'get_thumbnails' %}",
				beforeSend: function(xhr, settings) {
						        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						            xhr.setRequestHeader("X-CSRFToken", csrftoken);
						        }
						    },
				success:function(data){
					// alert(data.summary);
					doc_list = data.summary;
					var $ul = $('#tab2 ul');
						for(var i = 0; i < doc_list.length; i++){

	                    var doc_name = doc_list[i].pdf_file_name;
	                    var element = '<li class="span4"><a target="#" href="'
                            + doc_list[i].pdf_file
                            + '" class="thumbnail" style="width: 10%;"><img src="'
                            + doc_list[i].template_file
                            + '" alt=""></a></li>';
	                    var $element = $(element);
	                    $ul.append($element);
               		 }
				},
				error: function (xhr, textStatus, errorThrown) {
	                    console.log(xhr.responseText);
	                }

			});
		}
		function csrfSafeMethod(method) {
	    	// these HTTP methods do not require CSRF protection
	    	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}


		function submit_form(){
			event.preventDefault();
			var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
			var formData = new FormData($('form.fileForm').get(0));
			console.log(formData);
			$.ajax({
		    		type : "POST",
		    		url : 'ajax_upload_pdf',
		    		contentType: false,
	    			processData: false,
		    		data : formData,
		    		beforeSend: function(xhr, settings) {
						        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						            xhr.setRequestHeader("X-CSRFToken", csrftoken);
						        }
						    },
		            success: function (data) {
							alert(data.summary);
							var $ul = $('#tab2 ul');
							$ul.empty();
							get_view_loaded()

		            },
		            error: function (XMLHttpRequest, textStatus, errorThrown) {
		                            alert("Status: " + textStatus);
		                            alert("Error: " + errorThrown);
		                        }
		    	});
			}
    </script>
</head>
<body>
	<div class="container-fluid" style="padding: 0 0 0 20px">
        <div class="row-fluid">
            <div id="menuArea" class="span3">
                <!--Sidebar content-->
                <div class="page-header">
                    <h2>WebViewer Showcase</h2>
                    <div>PDF WebViewer</div>
                </div>
                <ul class="nav nav-tabs">
                    <li>
                        <a href="#tab1" data-toggle="tab">Your Files</a>
                    </li>
                    <li><a href="#tab2" data-toggle="tab">Gallery</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="tab0"></div>
                    <div class="tab-pane fade" id="tab1">
                        <div class="well well-small">
                            <h4>Create your own</h4>
                            <p style="align-content: center;padding-left: 43%;">
                                Try out PDF WebViewer using your own documents.
                            </p>
                            <div id="browserSupportAlert" class="alert" style="margin-top:5px; margin-bottom: 0;display:none">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                Your browser does not support this feature to create your own document.
                                You can still view WebViewer documents from the pre-generated gallery.
                            </div>
                            <div id="uploadControls" style="text-align: center;">
                                <form class="fileForm" id >
                					{% csrf_token %}
                					<div class="form-group">
									    <label for="imageInputFile">File input</label>
									    <input type="file" id="file" name="file"/>
									    <p class="help-block"></p>
								  </div>
                					<button type="submit" class="btn btn-default btn-primary" id="form_submit">Submit Your File</button>
                				</form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <ul class="thumbnails">
                              <!--content is generated on runtime -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>